extends layout

block content
  h1= title
  - var image_names= ["yellow.jpg","black.jpg","ford.jpg","flat.jpg","lam.jpg"]            
            -for(let i=0;i<3;i++){
                - let randnumber=Math.floor(Math.random()*5)
                 img(src= `/images/${image_names[randnumber]}` alt="image", height="300", width="300")
            -}